.error-border {
  border: 2px solid red;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* ===== spacing ===== */

.padding-10 {
  padding: 10px;
}

.page-margin {
  margin: 25px 50px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.padding-right {
  padding-right: 5px;
}
.margin-10 {
  margin: 10px;
}

.fit-content {
  max-width: fit-content;
  padding-right: 5px;
}

button {
  padding: 2px;
}
 table {
  margin: 15px 0px;
 }

 footer {
  margin-bottom: 50%;
 }

 th, td {
  padding: 5px;
 }

 .num-input {
  max-width: 40px;
 }
/* ===== flex ===== */
.flex-container {
  display: flex;
}

.flex-item { 
  display: flex;
  padding: 5px;
  max-width: 270px;
}

.flex-col {
  flex-direction: column;
}

.center-items {
  align-items: center;
}

/* justify-content goes on the flex container key word CONTENT!! */
.center-content {
  justify-content: center;
}

.flex-end {
  justify-content: end;
}

.space-around {
  justify-content: space-around;
}

/* align self is for selecting and positioniong one flex item */
/* ===== font ===== */
.italic {
  font-style: italic;
}

.font-malayalam {
  font-family: "Noto Sans Malayalam", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}
/* ===== header ===== */
.header-img {
  max-width: 200px;
}
.header-font {
  font-family: "Noto Sans Malayalam", sans-serif;
  font-size: 43px;
}
/* ===== element styling ===== */
table,
th,
td {
  border: 1px solid;
}

.table-hover tr:not(:first-child):hover {
  background-color: #615b5bb2;
}

main {
  border: 5px solid;
  background-color: rgba(241, 233, 233, 0.438);
}
/* ===== nav ===== */
nav {
  display: flex;
  background-color: #333;
  margin-bottom: 5px;
}

nav a {
  display: inline-flex;
  flex-direction: row;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Links - change color on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

.small-vp-header {
  max-width: 400px;
}

/* ===== media ===== */
/* vp w/ >= 700px */
@media screen and (max-width: 700px) {
  .page-margin {
    margin: 15px 20px;
  }
  .small-vp-header {
    margin-right: 30px;
  }
  .small-vp-padding-bottom {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 415px){
  .page-margin {
    margin: 15px 1px;
  }
  th {
    font-size: smaller;
  }
  .small-vp-header {
    flex-direction: column;
  }
  
}

